@import "tailwindcss";

@theme {
  --font-sans: "Geist Mono", "monospace";
  --animate-flicker: flicker 2.5s linear infinite both;
}

@keyframes flicker {
  0%,
  32.98%,
  34.02%,
  34.98%,
  35.92%,
  38.98%,
  39.82%,
  83.98%,
  84.92%,
  to {
    opacity: 1;
  }
  33%,
  34%,
  35%,
  35.9%,
  39%,
  39.8%,
  84%,
  84.9% {
    opacity: 0;
  }
}

span[data-index] {
  display: inline-block;
  /* evita colapsos de línea */
  opacity: 0;
  filter: blur(10px);
  min-width: 1ch;
  /* reserva espacio mínimo para la palabra */
}
