---
// Text.astro
const { text, className = "" } = Astro.props;
const words: Array<String> = text.split(" ");
---

<div class="flex gap-2 flex-wrap">
  {
    words.map((word, i) => (
      <>
        <span
          class={className}
          style="opacity: 0; filter: blur(10px);"
          data-index={i}
        >
          {word}
        </span>
      </>
    ))
  }
</div>

<script>
  import { animate } from "motion";

  const elements = document.querySelectorAll("[data-index]");
  console.log(elements);
  elements.forEach((el) => {
    const i = parseFloat(el.dataset.index);
    animate(
      el,
      { opacity: 1, filter: "blur(0px)" },
      { duration: 0.6, delay: i * 0.1 },
    );
  });
</script>
