---

---

<a href="https://linkedin.com/in/kevinpadi/" target="_blank" rel="noopener" class="animate-flicker group relative px-2 py-1.5 text-sm/6 text-neutral-800 dark:text-neutral-300 flex gap-2 items-center justify-center hover:bg-neutral-950 transition">
  <span class="absolute inset-0 border border-dashed border-white/60 dark:border-neutral-300/30 hover:border-white/80"></span>
  <div class="size-1.5 bg-white shadow shadow-white/20"></div>
  <span class="text-white text-clip">Disponible para trabajar</span>
  <!-- top icons -->

  <svg class="absolute left-0 top-0 fill-neutral-300 dark:fill-white/80" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line x1="0.519287" x2="0.519287" y2="5" stroke="white"/>
  <line x1="1.02096" y1="0.500003" x2="5.02094" y2="0.5134" stroke="white"/>
  </svg>
  <svg class="absolute -right-[0.5px] top-[0.5px] rotate-90 fill-neutral-300 dark:fill-red-500" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line x1="0.519287" x2="0.519287" y2="5" stroke="white"/>
  <line x1="1.02096" y1="0.500003" x2="5.02094" y2="0.5134" stroke="white"/>
  </svg>

  <!-- bottom icons --> 
  <svg class="absolute -left-[0.5px] bottom-[0.5px] -rotate-90 fill-neutral-300 dark:fill-red-500" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line x1="0.519287" x2="0.519287" y2="5" stroke="white"/>
  <line x1="1.02096" y1="0.500003" x2="5.02094" y2="0.5134" stroke="white"/>
  </svg>
  <svg class="absolute -right-[0.5px] bottom-0 -rotate-180 fill-neutral-300 dark:fill-red-500" width="6" height="5" viewBox="0 0 6 5" fill="none" xmlns="http://www.w3.org/2000/svg">
  <line x1="0.519287" x2="0.519287" y2="5" stroke="white"/>
  <line x1="1.02096" y1="0.500003" x2="5.02094" y2="0.5134" stroke="white"/>
  </svg>
</a>