---
import HorizontalDivider from "./horizontal-divider.astro";
import ArrowUpRight from "./icons/arrow-up-right.astro";

const DATA = [
  {
    title: "Certificación en Desarrollo Full Stack",
    academy: "4Geeks Academy",
    url: "https://certificate.4geeks.com/1c213af13c6646110e28cbd03c135c1f5f49dab6"
  },
  {
    title: "Certificación en React",
    academy: "HackerRank",
    url: "https://www.hackerrank.com/certificates/c229b0f38edc"
  },
  {
    title: "Certificación en Inglés",
    academy: "EF SET",
    url: "https://cert.efset.org/oqiE9c"
  },
]
---

<section class="text-neutral-200 relative bg-[#09090b]">
  <HorizontalDivider side="bottom" />
  <div class="p-4 relative">
    <HorizontalDivider side="bottom" />
    <span class="flex items-center gap-2" >
      <h2 class="uppercase font-light">
        Educación
      </h2>
    </span>
  </div>
  <div class="flex flex-col">
    {
      DATA.map((i) => (
        <div class="flex items-center justify-between gap-4 relative group hover:bg-neutral-900/20 transition duration-200 p-4">
          <a href={i.url} target="_blank" rel="noopener noreferrer" class="inset-0 absolute"></a>
          <div class="flex items-center gap-4">
            <div>
              <h3 class="text-sm">
                {i.title}
              </h3>
              <p class="text-sm text-neutral-400">{i.academy}</p>
            </div>
          </div>
          <div class="md:opacity-10 md:group-hover:opacity-50 md:rotate-45 md:group-hover:rotate-0 transition duration-300">
            <ArrowUpRight />
          </div>
        </div>
      ))
    }
  </div>
</section>
