---
import ArrowRightUp from "../assets/icons/arrow-up-right.svg";

const certifications = [
  {
    title: "Desarrollador de Software Full Stack",
    institution: "4Geeks Academy",
    date: "05 Sep. 2024",
    href: "https://certificate.4geeks.com/1c213af13c6646110e28cbd03c135c1f5f49dab6",
  },
  {
    title: "React.js",
    institution: "HackerRank",
    date: "16 Mar. 2024",
    href: "https://www.hackerrank.com/certificates/c229b0f38edc",
  },
  {
    title: "English (C1)",
    institution: "EF SET",
    date: "07 Dic. 2023",
    href: "https://cert.efset.org/oqiE9c",
  },
];
---

<section class="space-y-5 flex flex-col items-center">
  <div
    id="section-header"
    class="flex flex-col items-center gap-5 mb-10 md:mb-14 opacity-0"
  >
    <span
      class="py-2 px-4 bg-neutral-400/20 text-white font-bold text-xs rounded-full uppercase"
    >
      Educación
    </span>
    <h2
      class="text-4xl md:text-5xl font-semibold text-neutral-100 text-balance text-center md:max-w-2xl"
    >
      Mis Estudios y Formación
    </h2>
  </div>

  <div class="w-full">
    <ul class="">
      {
        certifications.map((certification) => (
          <li class="border-b border-white transition-all ease-in-out hover:ms-2 group">
            <a
              href={certification.href}
              target="_blank"
              rel="noopener noreferrer"
              class="flex justify-between items-center p-3 text-neutral-500"
            >
              <div class="space-y-3">
                <span class="text-xs text-neutral-300 uppercase">
                  {certification.institution}
                </span>
                <h3 class="text-xl sm:text-2xl text-white">
                  {certification.title}
                </h3>
                <span class="text-xs sm:text-sm text-neutral-400 uppercase">
                  {certification.date}
                </span>
              </div>
              <ArrowRightUp class="size-8 opacity-0 group-hover:opacity-100 stroke-1 stroke-neutral-400 transition-all ease-in-out" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
