---
import FileIcon from "../assets/icons/file.svg";
import LinkedinIcon from "../assets/icons/linkedin.svg";
import GitHubIcon from "../assets/icons/github.svg";
import MailIcon from "../assets/icons/mail.svg";
import SocialButton from "./social-button.astro";
import HorizontalDashedLine from "./icons/horizontal-dashed-line.astro"
import AnimatedFace from "./animated-face.astro";
import CTAButton from "./cta-button.astro"
---

<section class="text-white relative flex flex-col gap-6 items-center justify-between p-4">
  <HorizontalDashedLine class="top-0" />
  <HorizontalDashedLine class="bottom-0" />
  <div class="w-full flex flex-col gap-10">
    <div class="flex items-start justify-between">
      <div class="flex flex-col sm:flex-row gap-3 justify-center">
        <!-- face -->
        <AnimatedFace />
        <div class="flex flex-col items-start justify-center -space-y-1">
          <h1 class="text-neutral-200 text-lg">
            Kevin Padilla
          </h1>
          <p class="text-neutral-400 text-sm">Desarrollador Full Stack</p>
        </div>
      </div>
      <span class="text-sm text-neutral-400 flex gap-2">
        Hora local: <div id="reloj"></div>
      </span>
    </div>
    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-2 justify-between">
      <CTAButton />

      <div class="flex items-center gap-2">
        <SocialButton url="mailto:kevpadilla01@gmail.com">
        <MailIcon class="size-5" />
        </SocialButton>
        <SocialButton url="https://flowcv.com/resume/ssvl2rummhi8">
          <FileIcon class="size-5" />
        </SocialButton>
        <SocialButton url="https://linkedin.com/in/kevinpadi">
          <LinkedinIcon class="size-5" />
        </SocialButton>
        <SocialButton url="https://github.com/kevinpadi">
          <GitHubIcon class="size-5" />
        </SocialButton>
      </div>
    </div>
  </div>
  <div class="relative pt-4">
    <HorizontalDashedLine class="top-0" />
    <p class="text-neutral-200">
      soy Kevin, desarrollador Full Stack de Uruguay. Me especializo en el desarrollo frontend con React.js, y tengo una gran pasión por crear aplicaciones web dinámicas y responsivas. Además, cuento con experiencia en el desarrollo backend utilizando Node.js y Python.
    </p>
  </div>
</section>

<script>
  
  // hora local
    function updateWatch() {
      if (!document) return
    const relojElem = document.getElementById("reloj");
    if (!relojElem) return;
    const newTime = relojElem.textContent;
    const actualDate = new Date();
    const time = actualDate.toLocaleTimeString("es-UY", {
      timeZone: "America/Montevideo",
      hour: "2-digit",
      minute: "2-digit",
      hour12: false
    });
    relojElem.textContent = time;
  }

  updateWatch(); // muestra inmediatamente
  setInterval(updateWatch, 60000); // actualiza cada minuto
</script>

