---
import FileIcon from "../assets/icons/file.svg";
import LinkedinIcon from "../assets/icons/linkedin.svg";
import GitHubIcon from "../assets/icons/github.svg";
import MailIcon from "../assets/icons/mail.svg";
import SocialButton from "./social-button.astro";
import CTAButton from "./cta-button.astro"
import HorizontalDivider from "./horizontal-divider.astro";
---

<section class="text-white relative flex flex-col items-center justify-between bg-[#09090b]">
  <HorizontalDivider side="top" />
  <HorizontalDivider side="bottom" />
  <div class="w-full flex flex-col md:flex-row justify-between gap-4 items-start p-4">
    <div class="flex flex-col gap-8 items-start justify-between">
      <div class="flex flex-col sm:flex-row gap-3 justify-center">
        <div class="flex flex-col items-start justify-center -space-y-1">
          <h1 class="text-neutral-200 text-xl font-medium">
            Kevin Padilla
          </h1>
          <p class="text-neutral-400">Desarrollador Full Stack</p>
        </div>
      </div>
      <CTAButton />
    </div>
    <div class="flex md:flex-col items-center justify-between gap-4">
      <SocialButton url="mailto:kevpadilla01@gmail.com">
        <MailIcon class="size-4" />
        email
      </SocialButton>
      <SocialButton url="https://flowcv.com/resume/3i92ocwa44">
        <FileIcon class="size-4" />
        ver cv
      </SocialButton>
      <SocialButton url="https://linkedin.com/in/kevinpadi">
        <LinkedinIcon class="size-4" />
        linkedin
      </SocialButton>
      <SocialButton url="https://github.com/kevinpadi">
        <GitHubIcon class="size-4" />
        github
      </SocialButton>
    </div>
  </div>
  <div class="p-4 relative">
    <HorizontalDivider side="top" />
      <p class="text-neutral-200 ">
        soy Kevin, desarrollador Full Stack de Uruguay. Me especializo en el desarrollo frontend con React.js, y tengo una gran pasión por crear aplicaciones web dinámicas y responsivas. Además, cuento con experiencia en el desarrollo backend utilizando Node.js y Python.
      </p>
    </div>
  </div>
</section>

<script>
  
  // hora local
    function updateWatch() {
      if (!document) return
    const relojElem = document.getElementById("reloj");
    if (!relojElem) return;
    const newTime = relojElem.textContent;
    const actualDate = new Date();
    const time = actualDate.toLocaleTimeString("es-UY", {
      timeZone: "America/Montevideo",
      hour: "2-digit",
      minute: "2-digit",
      hour12: false
    });
    relojElem.textContent = time;
  }

  updateWatch(); // muestra inmediatamente
  setInterval(updateWatch, 60000); // actualiza cada minuto
</script>
