---
import AnimatedText from "./animated-text.astro";
import HoverButton from "./hover-button.astro";
import FileIcon from "../assets/icons/file.svg";
import LinkedinIcon from "../assets/icons/linkedin.svg";
import GitHubIcon from "../assets/icons/github.svg";
import MailIcon from "../assets/icons/mail.svg";
import ChevronDown from "../assets/icons/chevron-down.svg";
---

<section class="h-full md:h-screen text-white relative flex justify-center">
  <div class="animated-el flex flex-col mt-20 md:items-center max-w-2xl">
    <h1 class="sr-only text-base">
      ¡Hola! Soy Kevin, Desarrollador de Software Full Stack de Uruguay.
    </h1>
    <div
      id="img"
      class="size-12 md:w-20 md:h-12 rounded-full bg-blue-300 relative flex items-center overflow-hidden md:overflow-visible mb-5"
      style="opacity: 0; filter: blur(10px);"
    >
      <img
        src="/memoji.webp"
        alt="Memoji"
        class="size-12 md:size-20 absolute bottom-0"
      />
    </div>
    <AnimatedText
      text="¡Hola! Soy Kevin"
      className="text-4xl md:text-6xl text-neutral-400"
    />
    <AnimatedText
      className={"text-4xl md:text-6xl"}
      text="Desarrollador de Software Full Stack de Uruguay."
    />

    <div class="flex gap-2 mt-10 flex-wrap">
      <HoverButton name="Ponte en contacto" url="mailto:kevpadilla01@gmail.com">
        <MailIcon />
        Ponte en contacto
      </HoverButton>

      <HoverButton name="Ver CV" url="https://flowcv.com/resume/3i92ocwa44">
        <FileIcon />
        Ver CV
      </HoverButton>

      <HoverButton name="LinkedIn" url="https://linkedin.com/in/kevinpadi">
        <LinkedinIcon />
      </HoverButton>

      <HoverButton name="GitHub" url="https://github.com/kevinpadi">
        <GitHubIcon />
      </HoverButton>
    </div>
    <a
      href="mailto:kevpadilla01@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      id="work-status"
      class="bg-green-500/5 text-green-300 py-2 px-4 rounded-full flex items-center gap-2 w-fit md:mx-auto mt-10 hover:scale-110 hover:bg-green-500/10 transition-all ease-in-out"
      style="opacity: 0; filter: blur(10px);"
    >
      <span class="relative flex size-3">
        <span
          class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"
        ></span>
        <span class="relative inline-flex size-3 rounded-full bg-green-500"
        ></span>
      </span>
      <p>Disponible para trabajar</p>
    </a>
  </div>
</section>

<script>
  import { animate } from "motion";

  const element = "#work-status";
  animate(
    element,
    { opacity: 1, filter: "blur(0px)" },
    { duration: 0.6, delay: 0.8 },
  );

  animate(
    "#img",
    { opacity: 1, filter: "blur(0px)" },
    { duration: 0.6, delay: 0 },
  );
</script>
