---
const { url } = Astro.props;
---

<a
	href={url}
	target="_blank"
	rel="noopener noreferrer"
	class="button text-neutral-100 text-md rounded-xl border border-neutral-700 py-1 px-4 flex items-center gap-2 bg-neutral-950/50 hover:scale-105 transition-all ease-in-out duration-300 shadow-md hover:shadow-lg shadow-neutral-950 opacity-0 blur-xs"
>
	<slot />
</a>

<script>
	import { animate } from "motion";

	animate(
		".button",
		{ opacity: 1, filter: "blur(0px)" },
		{ delay: 0.8, duration: 1 },
	);
</script>
