---
import { getCollection } from "astro:content";
import HorizontalDashedLine from "./icons/horizontal-dashed-line.astro";

const projects = await getCollection('projects')
---

<section class="text-neutral-200 px-4">
  <div class="py-4 relative">
    <span class="flex items-center gap-2" >
      <div class="size-1.5 bg-white" />
      <h2>
        Proyectos
      </h2>
    </span>
    <HorizontalDashedLine class="bottom-0" />
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 py-4">
    {
      projects.map((project) => (
        <a href=`/${project.id}` class="h-52 bg-neutral-100/40 rounded hover:scale-[101%] transition">
          <img 
            transition:name={`img-${project.data.name}`}
            src={project.data.img}
            alt=`${project.id} image`
            class="size-full rounded">
        </a>
      ))
    }
  </div>
</section>