---
const { url } = Astro.props
---

<a href={url} target="_blank" rel="noopener noreferrer" class="border border-white/15 hover:border-white/30 p-1 rounded bg-white/5 cursor-pointer" >
  <slot />
</a>