---
const { url } = Astro.props
---

<a href={url} target="_blank" rel="noopener noreferrer" class="cursor-pointer flex gap-1 items-center justify-end text-neutral-400 hover:underline w-full hover:text-neutral-200 whitespace-nowrap text-sm">
  <slot />
</a>