---
import React from "./icons/react.astro";
import Node from "./icons/nodejs.astro";
import Typescript from "./icons/typescript.astro";
import Javascript from "./icons/javascript.astro";
import Expressjs from "./icons/expressjs.astro";
import Git from "./icons/git.astro";
import Tailwindcss from "./icons/tailwindcss.astro";
import Html from "./icons/html.astro";
import Css from "./icons/css.astro";
import Mongodb from "./icons/mongodb.astro";
import GithubIcon from "./icons/github-icon.astro";
import HorizontalDivider from "./horizontal-divider.astro";

const skills = [
  { name: "HTML", icon: Html},
  { name: "CSS", icon: Css},
  { name: "Tailwind CSS", icon: Tailwindcss},
  { name: "React", icon: React },
  { name: "TypeScript", icon: Typescript},
  { name: "JavaScript", icon: Javascript},
  { name: "Node.js", icon: Node},
  { name: "Express.js", icon: Expressjs},
  { name: "MongoDB", icon: Mongodb},
  { name: "Git", icon: Git },
  { name: "GitHub", icon: GithubIcon },
];
---

<section class="text-neutral-200 relative bg-[#09090b]">
  <HorizontalDivider side="bottom" />
  <div class="p-4 relative">
    <HorizontalDivider side="bottom" />
    <span class="flex items-center gap-2" >
      <h2 class="uppercase font-light">
        Stack
      </h2>
    </span>
  </div>
  <div class="flex flex-wrap gap-2 p-4">
    {skills.map(({ name, icon: Icon }) => (
      <span class="inline-flex items-center gap-1 rounded p-1.5 text-sm text-white border border-white/10 border-dashed">
        <Icon class="w-4 h-4" />
        {name}
      </span>
    ))}
  </div>
</section>