---
import InfiniteSlider2 from "./infinite-slider-2";
---

<section class="space-y-5 flex flex-col items-center">
  <div
    id="section-header"
    class="flex flex-col items-center gap-5 mb-10 md:mb-14 opacity-0"
  >
    <span
      class="py-2 px-4 bg-neutral-400/20 text-white font-bold text-xs rounded-full uppercase"
    >
      Tecnologías
    </span>
    <h2
      class="text-4xl md:text-5xl font-semibold text-neutral-100 text-balance text-center md:max-w-2xl"
    >
      Mi Stack de Desarrollo
    </h2>
  </div>
  <InfiniteSlider2 client:only />
</section>
