---
import EducationSection from "./education-section.astro";
import Hero from "./hero.astro";
import ProjectsSection from "./projects-section.astro";
import StackSection from "./stack-section.astro";
---

<div
	class="mx-auto min-h-screen w-full relative py-36 overflow-x-hidden"
>
	<Hero />
	<ProjectsSection />
	<StackSection />
	<EducationSection />
</div>

