---
import Hero from "./hero.astro";
import VerticalDashedLine from "./icons/vertical-dashed-line.astro";
---

<div
	class="mx-auto min-h-screen w-full max-w-5xl space-y-20 relative"
>
	<Hero />
</div>

