---
import Hero from "./hero.astro";
import ProjectsSection from "./projects-section.astro";
import InfiniteSlider2 from "./infinite-slider-2";
import EducationSection from "./education-section.astro";
---

<div class="mx-auto min-h-screen w-full max-w-5xl p-2 sm:p-4 space-y-20">
	<Hero />
	<ProjectsSection />

	<section class="space-y-5 flex flex-col items-center">
		<div
			id="section-header"
			class="flex flex-col items-center gap-5 mb-10 md:mb-14 opacity-0"
		>
			<span
				class="py-2 px-4 bg-neutral-400/20 text-white font-bold text-xs rounded-full uppercase"
			>
				Tecnologías
			</span>
			<h2
				class="text-4xl md:text-5xl font-semibold text-neutral-100 text-balance text-center md:max-w-2xl"
			>
				Mi Stack de Desarrollo
			</h2>
		</div>
		<InfiniteSlider2 client:only />
	</section>

	<EducationSection />

	<script>
		import { animate, easeOut, inView } from "motion";

		inView("#section-header", (element) => {
			animate(
				element,
				{ opacity: 1, y: [50, 0] },
				{
					duration: 0.4,
					delay: 0.3,
					easing: easeOut,
				},
			);
		});
	</script>
</div>
