---
import "../styles/global.css";
---

<html lang="es">
	<head>
		<!-- Configuración básica -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Kevin Padilla | Desarrollador Full Stack</title>

		<!-- Descripción y SEO -->
		<meta name="theme-color" content="#0a0a0a" />
		<meta name="generator" content={Astro.generator} />

		<!-- Open Graph / Social -->
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Kevin Padilla | Desarrollador Full Stack"
		/>
		<meta property="og:url" content="https://kevin-padilla.vercel.app/" />
		<meta
			property="og:image"
			content="https://kevin-padilla.vercel.app/open_graph_image.webp"
		/>
		<meta
			property="og:description"
			content="Soy Kevin Padilla, desarrollador Full Stack de Uruguay, especializado en frontend con React. Con experiencia en Node.js, Python y bases de datos, creo aplicaciones web dinámicas y responsivas con pasión y dedicación."
		/>

		<!-- Fuentes -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>

		<!-- Iconos -->
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<!-- Estilos -->
		<link rel="stylesheet" href="glo.css" />
	</head>

	<body class="bg-neutral-950 relative">
		<div
			class="absolute top-0 z-[-2] h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.2),rgba(255,255,255,0))]"
		>
		</div>
		<slot />
		<div
			class="absolute bottom-0 -z-10 h-screen w-full [background:radial-gradient(125%_125%_at_50%_10%,#0a0a0a_40%,#0e3399_100%)]"
		>
		</div>
	</body>
</html>
