---
import VerticalDashedLine from "../components/icons/vertical-dashed-line.astro";
import "../styles/global.css";
import Analytics from "@vercel/analytics/astro";
---

<html lang="es">
	<head>
		<!-- Configuración básica -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Kevin Padilla | Desarrollador Full Stack</title>

		<!-- Descripción y SEO -->
		<meta name="theme-color" content="#0a0a0a" />
		<meta name="generator" content={Astro.generator} />

		<!-- Open Graph / Social -->
		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="Kevin Padilla | Desarrollador Full Stack"
		/>
		<meta property="og:url" content="https://kevin-padilla.vercel.app/" />
		<meta
			property="og:image"
			content="https://kevin-padilla.vercel.app/open_graph_image.webp"
		/>
		<meta
			property="og:description"
			content="Soy Kevin Padilla, desarrollador Full Stack de Uruguay, especializado en frontend con React. Con experiencia en Node.js, Python y bases de datos, creo aplicaciones web dinámicas y responsivas con pasión y dedicación."
		/>

		<!-- Fuentes -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
			rel="stylesheet"
		/>

		<!-- Iconos -->
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
	</head>

	<body class="bg-neutral-950 relative">
		<Analytics />
		<div class="mx-auto max-w-2xl relative" >
			<VerticalDashedLine class="right-0" />
			<VerticalDashedLine />
			<slot />
		</div>
	</body>
</html>
